{% extends "core/base.html" %}

{% block title %}
    Questions | {{ block.super }}
{% endblock title %}

{% block content %}


<a class="btn btn-danger ask-btn" href="{% url 'questions:question_ask' %}">Ask Your Question Here</a>
<h1 class="question-heading">All Questions</h1>
{% for question in questions %}

<div class="list-group">
  <div class="list-group-item list-group-item-action question-item">
    <div class="d-flex w-100 justify-content-between">
      <h3 class="mb-1"><a class="question" href="{{question.get_absolute_url}}" >{{ question.question }}</a></h3>
      <small>Asked {{ question.created|timesince }} ago</small>
    </div>
    <p class="mb-1 content">{{ question.details }}</p>
    <small>
      <b>
        <a class="author" href="{{question.user.get_absolute_url}}" >{{ question.user.username }}</a>
      </b>
    </small>
  </div>
</div>

{% endfor %}

{% endblock content %}
