{% extends "core/base.html" %}

{% block title %} 
    Home | {{ block.super }}    
{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1>AskUs.com</h1>
  <p>
    <a href="{% url 'questions:question_list' %}"><button class="btn btn-info btn-lg"> Questions</button></a>
    <a href="{% url 'questions:question_ask' %}"><button class="btn btn-success btn-lg">Ask</button></a>
  </p>
</div>

<div class="container">
  <h2>Latest Questions</h2>
  <hr>
  <div>
    <div class="list-group">
      {% for question in queryset %}
      <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1"><b><a href="{{question.get_absolute_url}}" >{{ question.qus }}</a></b>
            <small>Asked {{ question.created|timesince }} ago By <b>
            <a href="{{question.user.get_absolute_url}}" >{{ question.user.username }}</a>
            </b></small></h4>
            </div>
          <p class="mb-1">{{ question.details|linebreaks|truncatechars:120 }}</p>

        </div>
      </div>
      {% endfor %}

    </div>
    <a href="{% url 'questions:question_list' %}"><button type="button" class="btn btn-primary">View All Questions</button></a>
  </div>
</div>
{% endblock content %}
